@media screen and (max-width:1000px){
    body{
        background-color: red;

    }
    nav{
        flex-direction: coloum ;

    }
    .logo{
        justify-content: center;

    }
    nav ul{
        justify-content: center;
    }
}