@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rubik:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #2874f0;
}

header {
    height: 60px;
    background-color: var(--main-bg-color);
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Rubik', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 85px;
    padding: 0 25px;
}

nav ul {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;

}

.box {
    min-height: calc(100vh - 60px - 12vh);

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: yellowgreen;
    font-weight: bolder;

}

.search {
    display: flex;
    align-items: center;

}

.search input {
    height: 24px;
    width: 400px;
    border-radius: 3px;
    margin: 0 8px 0px 55px;
    padding: 0 15px;
}



.slider {

    margin: 12px auto 0 auto;
    width: 80vw;
    overflow: hidden;
}

.bg {
    background-color: rgb(245, 245, 245);
    margin-bottom:10px;
}
.cards{
    display:inline-flex;
    justify-content: center;
    margin:0 38px;
   
}

.card {
  
    background-color: white;
    color: black;
    max-width: 85vw;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 20px;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width:160px;
    margin:0px 10px 0px 0px;

}



.card h2 {

    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Rubik', sans-serif;
    margin:10px 34px;
}

lines {

    margin: 0px 1019px 0 0;
    background-color: white;
    color: black
}
.center{
    text-align: center;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Rubik', sans-serif;

}