.flex-all-center{
    display:flex;
    justify-content:center;
  
    align-items:center;
}
.btn {
    /* padding:  ; */
    border-radius: 5px;
    background-color: var(--main-bg-color);
    color: white;
    box-shadow: 10px;
    height: 25px;
    width: 52px;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;

}
.card-item img{
    height: 160px;
    width: 160px;
    margin:0px 10px 0px 0px;
}
.space{
    margin:10px 0;
    font-size:20px;
}
.center{
    text-align: center;
}